/*
	JH.com stylesheet
	Inspired by meelk.com.ua
	version: 1.0
*/

/* @group CSS Reset */
	html{
		/* Blue fade */
		/*background: #42afdc url(/img/html-bg.gif) repeat-x;*/
			
		/* Grey diagonals */
		background: url(/img/background.jpg) repeat;
		
		
		color:#000;
	}
	
	body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:inherit;font-weight:inherit;}del,ins{text-decoration:none;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:baseline;}sub{vertical-align:baseline;}legend{color:#000;}input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}input,button,textarea,select{*font-size:100%;}

/* @end */

/* @group Layout */

	/* @group Body */
	
		body {	
			/*text-shadow: #000000 0 1px 0;	*/
			font: 130% "Lucida Grande", Verdana, sans-serif;
			color: #666666;
			-webkit-text-size-adjust: none;	
			margin:0;
			padding:0;
			
			/* Blue fade */
			/*background: #42afdc url(/img/html-bg.gif) repeat-x !important;*/
		
			/* Grey diagonals */
			background: url(/img/background.jpg) repeat !important;
		}

		div#flyingWindow {
			margin:0 auto;		
			width:700px;
			text-align:center;
			height: 400px;
			padding:50px 0 0 100px;	
		}				
		
		div#flyingWindow, {
			padding-left:0px !important;
		}
		
		div#flyingWindow h1 {
			text-align: left;
			font-size: 32px;
			color: white;
			height: 40px;
			padding: 0 0 10px 15px;
		}
		
		div#flyingWindow h1 a {
			text-decoration: none;
			color: white;
		}
		
		div#flyingWindow h1 a:hover {
			text-decoration: none;
			color: #BBB;
		}
		
		div#flyingWindow p.tagline {
			font-size: 12px;
			color:#BBB;
			margin-bottom:15px;
			text-align: left;
			
			padding: 0 0 0 25px;			
		}
		
		div#flyingWindow p.tagline a {
			text-decoration: none;
			color: #BBB;
		}
		
		div#flyingWindow p.tagline a:hover {
			text-decoration: underline;
		}
	 	
	/* @end */

	/* @group header */
		div#container {
			background-color: white;
			width: 545px;
		}	

	
		div#header {
			background: url("/img/content-top-bg-2.png") no-repeat left top;
			
			/*background-color: #666666;*/
			height:10px;
			width:545px;
		}
		
		div#header h1 a{
			text-decoration:none;	
			color: #0A61A3;
		}
			
		div#header h1 {
			/*padding:2px 10px 0 20px;*/
			padding: 0 30px 0 30px;
			font: 120% "Tahoma", Verdana, sans-serif;
				
			float:left;
		}
		
		div#nav {
			margin: 0;
			/*border-bottom: 1px solid gray;*/
			width: 545px;
			height: 40px;
			background-color: #FFFFFF;
		}
		
		div#navlist {
			margin: 0 auto;
			width: 545px;
			text-align: center;
		}
		
		ul#topNavigation {
			/*display:block;*/
			list-style: none;
			margin: 0 auto;
			width: 340px;
		}
		
		ul#topNavigation li {
			float:left;	
			padding: 3px 10px 0 10px;
			text-align:center;
			height:40px;
		}
			 	
		ul#topNavigation li a:link, ul#topNavigation li a:visited { 		
			/*color:#aac9ce;*/
			color: black;
			font-size: 14px;
			text-decoration:none;
			padding-bottom: 2px;
		}

		ul#topNavigation li a:hover { 		
			text-decoration:none;
			border-bottom: 2px solid gray;
		}
		
		ul#topNavigation a.underlined {
			border-bottom: 2px solid gray;
		}
		 		
	/* @end */
					
	/* @group content*/
	
		div#content {
			/*background:url("content.png") repeat-y;	*/
			
			/*background-color: #666666;*/
			background-color: #FFFFFF;
			
			
			/*height:198px;*/
			width:515px;
			padding:10px 0px 15px 30px;			
			*margin-left:29px;			
			
		}		
		
		#content div {
			/*width:440px;*/
			/*width:500px;*/
			font-size:80%;
			text-align:left;
		}

		#content h2 a {
				color:#44a1d0 !important;	
		}
		
		#content h2 a:hover {
			text-decoration: underline;
		}
		
		#content h2 {			
			font: 20px Tahoma,Verdana, sans-serif;
			/*text-shadow: #000000 0 2px 0;	*/
			color:#44a1d0;
			font-weight:bold;		
			padding-bottom:10px !important;	
		}	
		
		#content h3 {
			font: 90%  "Lucida Grande" ,Verdana, sans-serif;
			font-weight:bold;		
			padding:5px 0 5px;
			
			color: #666666;
			margin: 10px 0;
		}	
		
		#content div strong {
			font-size:120%;
			font-weight:bold;
			color:#44a1d0;
			
		}
		
		a.email, #content div a:link, #content div a:visited {
			color: #44a1d0;
			
			text-decoration:none;									
		}
		
		/*#projects a, #about a {
		    background: #E7E7E7;
			-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
			border-radius: 4px;
			text-decoration: none;
			padding: 2px;
			line-height: 1.4em;
		}
		
		#projects a:hover, #about a:hover {
		  color: white; 
		  background: #44a1d0;
            -moz-transition: .15s ease-in-out;
			-o-transition: .15s ease-in-out;
			-webkit-transition: .15s ease-in-out;
		}*/
		
		#content div a:hover {
			text-decoration: underline; 
		}
		
		div#projects {
			display:none;
		}
		
		div#contact {
			display:none;
		}

		/*div#personal {
			display:none;
		}*/
		


		
	/* @end */
	
		
	
	/* @group about */				
		img.meelk-image {
			padding:0 10px;
			margin:0 10px 80px;
			float:left;
		}		
		
		span.about-text strong {		
			color:#faeda5 !important;
			font-size:105% !important;				
		}
		
		div.about-text p strong {		
			color:#faeda5 !important;
			font-size: 12px !important;			
		}
		
		div.about-text p {
			/*			
			line-height:13px;*/
			
			margin-bottom:10px;
			margin-right: 10px;
			line-height: 1.4em;
		}
		
		div.about-text {
			padding-top:5px;
		}
		/*div.about-text h2 {
			padding-bottom:10px !important;			
		}*/		 	
	/* @end */
	
	/* Projects */
	
		/*div#projects ul li.project {
			margin-left: 1em;
			margin-top: 1em;
			list-style: none;
			background: url("/img/bullet-grey.gif") no-repeat;
			padding-left: 20px;
			
			font-size: 12px !important;
		}*/
		
		div#projects ul li.project {
			height: 64px;
			clear: both;
			font-size: 12px !important;
			margin-bottom: 30px;
		}
		
		div#projects ul li.project div#projImg {
			margin-right: 20px;
			height: 60px;
			float: left;
			width: 150px;
			border: 2px solid gray;
		}
		
		div#projects ul li.project div#projImg:hover,
		div#projects ul li.project div#projImg:focus {
			border: 2px solid black;
		}
		
		div#projects ul li.project div#projImg a {
			/*border: 2px solid gray;*/
			text-decoration: none;
			float: left;
		}
		
		div#projects ul li.project div#projImg a#zoomimg:hover,
		div#projects ul li.project div#projImg a#zoomimg:focus {
			/*border: 2px solid black;*/
			text-decoration: none;
		}
		
		div#projects ul li.project div#projTxt {
			font-size: 13px !important;
			padding-right: 10px;
			float: left;
			width: 60%;
			padding-bottom: 30px;
		}
		
		div#projects ul li.project div#projTxt a#projtitle {
			font-weight: bold;
			font-size: 14px;
		}
		
		/*div#projects ul li.project a#zoomimg:hover,
		div#projects ul li.project a#zoomimg:focus {
			background: rgba(164, 173, 183, .15);
			text-decoration: none;
		}*/
		
		/*div#projects ul li.project a#zoomimg {
			margin: 0 20px;
			padding: 5px;
		}*/
	
	/* @group personal-networks */
		/* @group networks */

		#networks {
			/*background: url("networks.png") repeat 0 0;*/
			width: 500px;
			height: 120px;
			/*float: left;*/
			display:block;
		}
		
		#networks li {
			width: 250px;
			height: 60px;
			float: left;
		}
		
		#networks li a {
			display: block;
			width: 250px;
			height: 45px;
			padding: 10px 0 5px;
			text-decoration: none;
			-webkit-transition: background-color 0.25s linear;
		}
		
		#networks li a:hover,
		#networks li a:focus {
			background: rgba(164, 173, 183, .25);
			text-decoration: none;
		}
		
		#networks li a:active {
			background: rgba(164, 173, 183, .25);
			padding: 12px 0 3px;
		}
		
		#networks li a img {
			float: left;
			margin: 0 10px 0 15px;
			/*-webkit-transition: margin-left 0.25s linear;*/
		}
		
		/*#networks li a:hover img {
			margin-left: 10px;
		}*/
		
		#networks li a strong {
			color: #000;
			font: 18px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
			display: block;
			padding-top: 2px;
		}
 	
	/* @end */
		
	/* @group footer */			
			div#footer a { 	
				/*color:#497882;	*/	
				color: #44a1d0;	
				text-decoration: none;
			}
			
			div#footer a:hover {
				text-decoration: underline;
			}
			
			div#footer {
				/*background:url("content-bottom-bg.png") no-repeat;*/
				/*background-position: bottom;*/
				background-color: #FFFFFF;
				/*border: 1px solid gray;*/	
				height:10px;
				width:545px;
				padding-top:13px;		 		
				font-size:50%;
				text-align:center;
				/*color:#497882;*/
				/*text-shadow: #000 0 1px 0;*/				
				font-weight:bold;
				
				/*border-top: 1px solid gray;*/
		 	}
		 	
		 	div#footerimg {
		 		background:url("/img/content-bottom-bg.png") no-repeat;
		 		text-align:center;
		 		width:545px;
		 		padding-bottom: 50px;
		 	}
		 	
		 	#factoid {
		 		font-size: 10px;
		 		text-align: left;
		 		width: 525px;
		 		color: white;
		 		text-shadow: none;
		 		padding: 0 15px 0 10px;
		 		line-height: 1.5em;
		 		margin-bottom: 40px;
		 	}
		 	
		 	#factoid a {
		 		color:#333333;
		 		text-decoration: none;
		 	}
		 	
		 	#factoid a:hover {
		 		text-decoration: underline;
		 	}
	/* @end */
	
	/* @group contacts */
		.hidden {display:none;};
		div.adr {
			display:none;
		}
		
		div.text-bar p {
			padding:0 20px 10px 10px;			
		}
		
		div.text-bar ul {
			padding-left:10px;			
		}
		
		div#contacts {
			padding:5px 0 0 20px;
		}		 	
	/* @end */
			
	/* @group work */
		div.work-intro	{
			padding:0 0 10px 10px;
			line-height:15px;

		}
	/* @end */
	
	#credits {
		position: fixed;
		right: 5px;
		bottom: 5px;
		
		font-size: 9px;
		color: #BBB;
	}
	
	#credits a {
		color: #666666;
		text-decoration: none;
	}
	
	#credits a:hover {
		text-decoration: underline;	
	}
	
	#fbconnect {
		margin-top: 5px;
		margin-left: auto;
		margin-right: auto;
		font-size: 14px;
	}
	
	/* Calculator */
	
	p.calctxt {
		font-size: 14px;
		margin: 0 20px 10px 0;
		text-align: left;
	}
	
	#notice, #error {
	  margin-top: 20px;
	  margin-left: 20px;
	  margin-right: 20px;
	  margin-bottom: 20px;
	  padding: 5px 5px 5px 20px;
	  font-size: 14px;
	  text-align: left;
	  color:black;
	  
	  width: 350px;
	}
	#notice {
	  background-color: #fff9d7;
	  border: 1px solid #e2c822;
	  /*color: #e2c822;
	  border: 1px solid #9c9;
	  color: #9c9;
	  border-color: #c99;
	  color: #fff;
	  background: url(../../images/layout3/alertgood.gif) #E2F9E3 left no-repeat;*/
	}
	#error {
	  background-color: #ffebe8;
	  border: 1px solid #dd3c10;
	  /*color: #dd3c10;
	  background: url(../../images/layout3/alertbad.gif) #c00 left no-repeat;
	  border-color: #c99;
	  color: #fff;*/
	}
	#error li {
		color: black;
	}
		
/* @end */