/*
	her.sh stylesheet
	version: 1.0
*/

/* @group CSS Reset */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:inherit;font-weight:inherit;}del,ins{text-decoration:none;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:baseline;}sub{vertical-align:baseline;}legend{color:#000;}input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}input,button,textarea,select{*font-size:100%;}

/* @group base */

body {
	background: #1b1b1b;
}

#wrapper {
	margin: 0 auto;
	max-width: 640px;
}

#wrapper a {
	color: #C73F17;
	text-decoration: none;
}

#wrapper a:hover {
	color: #C73F17;
	border-bottom: 1px solid #C73F17;
}

#wrapper a:hover img {
	border-bottom: none;
}

/* @group header */

#header {	
	margin: 0 auto;
	padding-top: 100px;
	padding-bottom: 50px;
}

#header p {
	font-family: Futura;
	font-size: 250%;
	padding-left: 10px;
	color: rgb(204, 204, 204);
}

#header a {
	text-decoration: none;
	color: rgb(204, 204, 204);
}


/* @group content */

#container {
	color: rgb(204, 204, 204);
	font: 120% 'Avenir Next', 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
	vertical-align: baseline;
	line-height: 1.7em;
	-webkit-font-smoothing: antialiased;
}

#container p {
	margin-top: 20px;
	margin-bottom: 20px;
	padding-left: 10px;
	padding-right: 10px;
}

#container p.heading {
	font-size: 24px;
	font-family: Futura, sans-serif;
	text-transform: uppercase;
	
	color: white;
	font-weight: 400%;
	border-bottom: 1px solid underline;
	
	padding-top: 25px;
}

#container p.heading a {
	color: white;
}

#container p.heading a:hover {
	color: #C73F17;
}

code {
	font-family: Courier;
}

div.app {
	margin: 10px;
	clear: both;
}

div.app img {
	float: left;
	border-radius: 18px;
	margin-right: 20px;
	margin-bottom: 10px;
	margin-top: 5px;
}

p.appdesc {
	margin-top: 0px !important;
	margin-bottom: 0px;
}

ul.contact {
	list-style-type: none;
}

/* @group footer */

#footer {
	margin: 0 auto;
	margin-top: 50px;
	margin-bottom: 50px;
	padding: 10px;
	text-align: center;
	color: white;
	font-family: Futura;
	font-size: 20px;
}

#footer a {
	color: white;
	text-decoration: none;
}